body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid darkslateblue;
}

caption {
    color: darkviolet;
}

header {
  font-size: 24px;
  text-align: center;
}

a {
  text-decoration: none;
  border: 1px solid red;
  border-radius: 4px;
  padding: 4px;
  color: black;
}
.box-kamar {
  width: 100%;
  border-radius: 8px;
  border: 1px solid slateblue;
  padding: 8px;
  display: block;
  box-sizing: border-box;
}

.box-perkamar {
  width: 20%;
  border-radius: 8px;
  border: 1px solid cyan;
  padding: 8px;
  background-color: white;
  color: darkslategray;
  box-sizing: border-box;
}

.menu-bottom {
  width: 100%;
  padding: 12px;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid slateblue;
  border-bottom: 1px solid slateblue;
  box-sizing: border-box;
}