body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid darkslateblue;
}

caption {
    color: darkviolet;
}

header {
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid slateblue;
}

div.menu-bottom a {
  text-decoration: none;
  border: 1px solid red;
  border-radius: 4px;
  padding: 4px;
  color: black;
}

button {
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  padding: 4px;
  color: black;
}

div.gallery {
  border: 1px solid #777;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery a {
  text-align: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #777;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.box-kamar {
  padding-bottom: 80px;
}

.box-perkamar {
  width: 20%;
  border-radius: 8px;
  border: 1px solid cyan;
  padding: 8px;
  background-color: white;
  color: darkslategray;
}

.menu-bottom {
  width: 100%;
  padding: 12px;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid slateblue;
  border-bottom: 1px solid slateblue;
  background-color: white;
}

.new-guest {
  width: 100%;
  padding: 8px;
}

div.modal-content input[type=text], textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid darkgray;
  border-radius: 4px;
}

div.modal-button {
  border-top: 1px solid darkgray;
  text-align: center;
  padding: 8px;
  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
